python-dotenv
django-anymail[postmark]
django
djangorestframework
httpx
reportlab
svglib
drf-spectacular
stripe
pyjwt
pandas
openai>=1.26.0,<2.0.0
django-cors-headers
openpyxl
django-cleanup
deep-translator
pinecone
sentence-transformers
tqdm
langchain-openai
fuzzywuzzy
tiktoken
pydantic 
setuptools
psycopg[binary]